<h1>Lista Matérias</h1>

<input type="text" #materias class="form-control" placeholder="Nome da Matéria">
<button class="btn btn-dark">Adicionar Matéria</button>
<hr>

<table class="table table-hover table-borderless table-sm table-striped table-dark">
<thead class="thead-dark">
  <tr>
    <th scope="col">Cod.</th>
    <th scope="col">Nome</th>
    <th scope="col">Dia</th>
    <th scope="col">Detalhes</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">IDS002A</th>
    <td>Desenvolvimento para Servidores II</td>
    <td>Quinta-feira</td>
    <td>link</td>
  </tr>
  <tr>
    <th scope="row">ITE004A</th>
    <td>Tópicos Especiais para Internet II</td>
    <td>Sexta-feira</td>
    <td>link</td>
  </tr>
  <tr>
  <th scope="row">#</th>
  <td *ngFor="let materia of materias.getMateria(), index as i">{{materia.nome}}<span (click)="materias.removeMateria(i)">Remover</span></td>
  <td>#</td>
  <td>#</td>
</tr>
</tbody>
</table>